.section-about
{
    max-width: 100%;
    width: 40%;
}

@media only screen and (max-width:$section-about-skills-break)
{
    .section-about
    {
        max-width: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}